body {
    height: 100%;
    color: #777777;
    font-family: 'Nanum Gothic';
}

.top {
    color: #4aaaa5;
}

hr {
    border-top: 3px solid #cccccc;
}

header {
    font-family: 'Shadows Into Light';
    letter-spacing: 3px;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

h1 {
    font-family: 'Shadows Into Light';
    letter-spacing: 3px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.nav {
    width: 960px;
    margin: 0 auto;
}

.name {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0px;
    width: 190px;
    padding: 28px;
}

.links {
    float: left;
    margin: 25px 0px 0px 452px;
    width: 220px;
    padding: 10px;
}

a:link {
    color: #cccccc;
    text-decoration: none;
}

a:visited {
    color: #4aaaa5;
    text-decoration: none;
}

a:hover {
    color: #777777;
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.container {
    position: relative;
    min-height: 100vh;
}

.main {
    overflow: auto;
    background-image: url(../images/brickwall/brickwall.png);
    width: 100%;
    min-height: 86vh;
    padding: 20px 0px 50px 0px;
    margin-bottom: -70px;
}

.content {
    background-color: #ffffff;
    border-color: #dddddd;
    width: 920px;
    min-height: 50vh;
    padding: 20px;
    margin: 0 auto 50px auto;
}

.photo {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

.text {
    line-height: 18px;
    margin-bottom: 10px;
}

.portfolio {
    position: relative;
    margin: 0px;
}

.icons {
    width: 35%;
    height: 35%;
    float: left;
    margin: 5px 6% 0px 6%;
}

.hangman {
    position: absolute;
    width: 35%;
    height: 20px;
    padding: 5px 0px 5px 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    top: 30%;
    left: 6%;
}

.rpg {
    position: absolute;
    width: 35%;
    height: 20px;
    padding: 5px 0px 5px 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    top: 30%;
    left: 53%;
}

.trivia {
    position: absolute;
    width: 35%;
    height: 20px;
    padding: 5px 0px 5px 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    top: 60%;
    left: 6%;
}

.rutgers {
    position: absolute;
    width: 35%;
    height: 20px;
    padding: 5px 0px 5px 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    top: 60%;
    left: 53%;
}

.rps {
    position: absolute;
    width: 35%;
    height: 20px;
    padding: 5px 0px 5px 0px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    top: 90%;
    left: 6%;
}

.clearfix {
    content: "";
    clear: both;
    display: block;
}

label,input,textarea {
    display: block;
    margin-bottom: 10px;
}

label {
    margin-top: 20px;  
}

input, textarea {
    padding: 5px 10px 5px 10px;
    width: 95%
}

textarea {
    height: 200px;
}

#submit {
    width: 150px;
    padding: 5px 15px 5px 15px;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    color: #ffffff;
}

footer {
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5%;
    padding-top: 10px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding-top: 5px;
    margin: 0 auto;
}

@media only screen and (max-width: 980px){
    .nav{
        width:95%;
        margin-left: 5%;
    }
    .links {
        margin-left: 29vw;
    }
    header{
        width:100%;
    }
    .main{
        width: 100%;
    }
    .content{
        width: calc(576px - 5%);
        float: left;
        margin-left: 5%;
    }
}
@media only screen and (max-width: 768px){
    .nav{
        width:95%;
        margin-left: 0px 0px 0px 5%;
    }
    .links {
        margin-left: 18%;
    }
    header{
        width:100%;
    }
    .main{
        width: 100%;
    }
    .content{
        width: 80%;
        float: left;
        margin: 0px 0px 50px 5%;
    }
    .copyright{
        margin: 0px;
    }
}
@media only screen and (max-width: 640px){
    .container{
        max-width: 640px;
    }
    .nav{
        max-width: 640px;
        margin: 0px;
    }
    .name {
        float: none;
        width: 100%;
        max-width: 640px;
        text-align: center;
        padding: 28px 2.5% 28px 2.5%;
    }
    .links {
        display: block;
        max-width: 640px;
        width: 100%;
        text-align: center;
        margin:0;
        padding: 10px 2.5% 10px 2.5%;
    }
    header{
        width:100%;
        max-width: 640px;
    }
    .main{
        width: 100%;
    }
    .content{
        width: 85%;
        margin-left: 5%;
        margin-right:0px;
    }
    .photo{
        margin:0px;
        width:50%;
        height:50%;
        margin: 0 25% 10px 25%;
    }
    .icons{
        height: 50%;
        width: 50%;
        margin: 0px 25% 20px 25%;
    }
    .hangman {
        width: 50%;
        top: 17%;
        left: 25%;
    }
    .rpg {
        width: 50%;
        top: 36%;
        left: 25%;
    }
    .trivia {
        width: 50%;
        top: 55%;
        left: 25%;
    }
    .rutgers {
        width: 50%;
        top: 74%;
        left: 25%;
    }
    .rps {
        width: 50%;
        top: 93%;
        left: 25%;
    }
    .copyright{
        margin:0px;
    }
}